<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.irt.dabmpg123decoderplugin">

    <application>
        <service android:name="de.irt.dabmpg123decoderplugin.Mpg123Decoder" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="de.irt.dabmpg123decoderplugin.Mpg123Decoder" />
                <category android:name="de.irt.dab.plugin" />
            </intent-filter>
        </service>
    </application>
</manifest>
